@model IReadOnlyList<Octokit.Repository>
<div class="text-md-center">
    <h2>
        Examples of using GitHub api via Octokit.net
    </h2>
</div>
@if (!Model.Any())
{
    <div class="card card-block">
        <div class="card-block">
            <h4 class="card-title">You have no repos... might we suggest some yo <3</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h4>
                    <a href="/Octokit/Octokit.net/" class="text-primary"><span>Octokit/Octokit.net</span></a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a href="/ruby/ruby/" class="text-primary"><span>Ruby/Ruby</span></a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a href="/rails/rails/" class="text-primary"> <span>Rails/Rails</span></a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a href="/jquery/jquery/" class="text-primary"> <span>Jquery/Jquery</span></a>
                </h4>
            </li>
        </ul>
    </div>
}
else
{
    <div class="card">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model)
                {
                <li class="list-group-item">
                    <h4>
                        <span>@item.FullName</span> 
                        <span class="pull-sm-right">
                            <a href="@Url.Action("PRReviews", new { ownerName = item.Owner.Login, repoName = item.Name })"
                               class="btn btn-success-outline btn-sm" style="">PR Reviews</a>
                            <a href="@Url.Action("List", new { ownerName = item.Owner.Login, repoName = item.Name })"
                               class="btn btn-info-outline btn-sm">Sprint</a>
                        </span>
                    </h4>
                </li>
            }
        </ul>
    </div>
}